<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Happen API Test</h1>
</header>

<div class="general_div unverified">
  <section>
    <button type="button" class="btn btn-primary btn-large" data-ng-click="loginFacebook('happn')">Login with Facebook For Happen</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class='loading-bar' ng-if="fblogin_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
  </section>
  <section ng-if="!fblogin_flag ">
    <div class="fb_info">
      <label>FaceBook Token</label> <span class='my_info'>{{fbToken}}</span>
      <br />
      <label>FaceBook ID</label><span class='my_info'>{{fbUserID}}</span>
      <br />
    </div>
  </section>
  <section>
    <label>Input FB Token</label>
    <input type="text" name="input" placeholder="" ng-model="user_fbToken_for_happn" required>
    <br/>
    <label>Client_ID</label>
    <input type="text" name="input" placeholder="" ng-model="user_client_id" required>
    <br/>
    <label>client_secret</label>
    <input type="text" name="input" placeholder="" ng-model="user_client_secret" required>
    <br/>
    <label>android id</label>
    <input type="text" name="input" placeholder="" ng-model="user_android_id" required>
    <br/>
    <button type="button" class="btn btn-primary btn-large" data-ng-click="setFBTokenForHappn()">Set value</button>
  </section>
</div>

<!-- CMB SECTION -->
<div class="cmb-section" ng-hide="false">
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="loginHappn()">Happn Login with Facebook</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span class='loading-bar' ng-if="login_happn_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="!login_happn_flag && happnInfo">
      <div class="cmb_info">     
        <div>
          <label>access Token</label> <span class='my_info'>{{happnInfo.access_token}}</span>
          <br />
          <label>user_id</label><span class='my_info'>{{happnInfo.user_id}}</span>
          <br />
          <label>is_new</label> <span class='my_info'>{{happnInfo.is_new}}</span>
          <br />
          <label>refresh_token</label> <span class='my_info'>{{happnInfo.refresh_token}}</span>
          <br />
        </div>   
      </div>
    </section>
  </div>

  <!-- TEST Process -->
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="RegisterDevice()">Register device</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="register_device_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <span class="my_info">
      {{happnInfo.device}}
    </span> &nbsp;&nbsp;
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="SetProfileFirst()">Set Profile First</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="profile_first_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div class="detail_info">
      <label>FB_ID </label> <span class="my_info">{{happnInfo.profile.fb_id}}</span> <br />
      <label>Twitter ID </label> <span class="my_info">{{happnInfo.profile.twitter_id}}</span><br />
      <label>Role </label> <span class="my_info">{{happnInfo.profile.role}}</span><br />
      <label>Name </label> <span class="my_info">{{happnInfo.profile.first_name}}</span><br />
      <label>Age </label> <span class="my_info">{{happnInfo.profile.age}}</span><br />
      <label>Birthday </label> <span class="my_info">{{happnInfo.profile.birth_date}}</span><br />
      <label>Gender </label> <span class="my_info">{{happnInfo.profile.gender}}</span><br />
      <label>RegisterDate </label> <span class="my_info">{{happnInfo.profile.register_date}}</span><br />
      <label>matching_preferences </label> <span class="my_info">{{happnInfo.profile.matching_preferences}}</span><br />
      <label>notification_settings </label> <span class="my_info">{{happnInfo.profile.notification_settings}}</span><br />
      
    </div>
    <div class="photo"><img ng-src='{{happnInfo.profile.profiles[0].url}}' width=200px height=200px alt="no-set" /></div>
    
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="RefreshToken()">Refresh Token</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="refresh_token_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <label>access Token</label> <span class='my_info'>{{happnInfo.access_token}}</span>
      <br />      
      <label>refresh_token</label> <span class='my_info'>{{happnInfo.refresh_token}}</span>
      <br />
    </div>   
  </div>

  <!-- TEST Components -->

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="getUserProfile()">Get User profile</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="get_profile_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <label>User ID</label>
    <input type='text' ng-model='other_user_id' placeholder="<user_id>" />
    <span class="my_info">
      {{other_user_profile}}
    </span> &nbsp;&nbsp;
  </div>
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="DiscoverNewProspect()">Discover new prospects</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="discover_prospect_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <span class='my_info'>{{happnInfo.new_prospects}}</span>
      
    </div>   
  </div>
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="GetChatList()">Get list of chats</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="chat_list_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <span class='my_info'>{{happnInfo.chat_list}}</span>
    </div>   
  </div>
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="GetChatMsg()">Get Conversation Messages</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="chat_msg_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <label>MessageID</label><input ng_model="msg_id" placeholder="<partner_id>_<my_user_id>" />
      <span class='my_info'>{{happnInfo.messages}}</span>
    </div>   
  </div>
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="SendChatMsg()">Send Messages</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="send_msg_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <label>MessageID</label><input ng_model="msg_id" placeholder="<partner_id>_<my_user_id>" /> <br />
      <label>Message</label><input ng_model="msg" placeholder="" />
      <span class='my_info'>{{happnInfo.send_msg_result}}</span>
    </div>   
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="LikeSomebody()">Like</button>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="CharmSomebody()">Charm</button>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="RejectSomebody()">Reject</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="somebody_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <label>Somebody ID</label><input ng_model="partner_id" placeholder="<partner_id>" /> <br />      
      <span class='my_info'>{{somebody_msg}}</span>
    </div>   
  </div>
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="UpdateUserProfile()">Update User Profile</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="update_user_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <label>Job</label><input ng_model="job" placeholder="Please input job" /> <br />      
      <label>Employer</label><input ng_model="workplace" placeholder="Please input employer" /> <br />      
      <label>School</label><input ng_model="school" placeholder="Please input school" /> <br />      
      <label>About me</label><input ng_model="about" placeholder="Please input about me" /> <br />      
      <span class='my_info'>{{update_msg}}</span>
    </div>   
  </div>
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="GetUserSetting()">Get User Setting</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="get_user_setting_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <div>
      <span class='my_info'>{{user_setting}}</span>
    </div>   
  </div>
</div>