<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Test Page</h1>
</header>

<div class="general_div unverified">
  <section>
    <button type="button" class="btn btn-primary btn-large" data-ng-click="loginFacebook('cmb')">Login with Facebook For CMB</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <span class='loading-bar' ng-if="fblogin_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    
  </section>
  <section ng-if="!fblogin_flag ">
    <div class="fb_info">
      <label>FaceBook Token</label> <span class='my_info'>{{fbToken}}</span>
      <br />
      <label>FaceBook ID</label><span class='my_info'>{{fbUserID}}</span>
      <br />
    </div>
  </section>
  <section>
    <label>Input FB Token</label>
    <input type="text" name="input" placeholder="" ng-model="user_fbToken" required>
    <br/>
    <button type="button" class="btn btn-primary btn-large" data-ng-click="setFBToken()">Set value</button>
  </section>
</div>

<!-- TINDER SECTION -->
<div class="tinder-section" ng-hide="true">
  <div class="general_div unverified">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="loginFacebookForTinder()">Tinder Login with Facebook</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span class='loading-bar' ng-if="tinder_login_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="!tinder_login_flag && tinderInfo">
      <div>
        <label>FaceBook Token</label> <span class='my_info'>{{fbToken}}</span>
        <br />
        <label>FaceBook ID</label><span class='my_info'>{{fbUserID}}</span>
        <br />
        <label>Received From Tinder</label> <span class='my_info'>{{tinderInfo[0]}}</span>
        <br />
      </div>
    </section>
  </div>
</div>

<!-- CMB SECTION -->
<div class="cmb-section" ng-hide="false">
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="loginCMB()">CMB Login with Facebook</button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <span class='loading-bar' ng-if="login_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="!login_flag && cmbInfo">
      <div class="cmb_info">
        <label>FaceBook Token</label> <span class='my_info'>{{fbToken}}</span>
        <br />
        <label>Session ID</label><span class='my_info'>{{sessionid}}</span>
        <br />
        <label>User ID</label> <span class='my_info'>{{cmbInfo[0].jsonObj.profile_id}}</span>
        <br />
        <label>Upgrade Available</label> <span class='my_info'>{{cmbInfo[0].jsonObj.upgrade_available}}</span>
        <br />
        <label>Success </label> <span class='my_info'>{{cmbInfo[0].jsonObj.success}}</span>
        <br />
        <label>Received From CMB</label> <span class='my_info'>{{cmbInfo[0]}}</span>
        <br />
      </div>
    </section>
  </div>

  <!-- TEST Process -->
  <div class="general_div unverified">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="setMyProfileProcess1()">Set profile1</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="profile_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <span class="my_info">
      {{profileProcessResult}}
    </span> &nbsp;&nbsp;
  </div>

  <div class="general_div unverified">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="setMyProfileProcess2()">Set profile2</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="profile_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <span class="my_info">
      {{profileProcessResult[0].Result}}
    </span> &nbsp;&nbsp;
  </div>

  <div class="general_div unverified">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="setMyProfileProcess3()">Set profile3</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="profile_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <span class="my_info">
      {{profileProcessResult[0].Result}}
    </span> &nbsp;&nbsp;
  </div>

  <!-- TEST Components -->

  <div class="general_div">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="login_Chat()">Chat Login</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="chat_login_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section class='ChatResult' ng-if="!chat_login_flag && ChatResult">
      <span class='my_info'>{{ChatResult}}</span>
    </section>
  </div>
  <div class="general_div">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="list_Chat()">Get Chat List</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="chat_list_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section class='ChatList' ng-if="!chat_list_flag && ChatList">
      <span class='my_info'>{{ChatList}}</span>
    </section>
  </div>
  <div class="general_div unverified">
    <form name='myForm'>
      <section>
        <button type="button" class="btn btn-primary btn-large" data-ng-click="getMyProfile()">Get my profile</button>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="get_profile_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </section>
      <label>Language Code</label>
      <input type='text' ng-model='user_language_code' placeholder="Language Code" />
      <br />
      <label>User Gender</label>
      <input type='text' ng-model='user_gender' placeholder="m/f" />
      <br />
      <label>Birthday</label>
      <input type="date" id="user_birthday" name="user_birthday" ng-model="user_birthday" placeholder="YYYY-MM-DD" min="1600-01-01" max="2099-12-31" required />
      <span role="alert">
        <span class="error" ng-show="myForm.user_birthday.$error.required">
        Required!</span>
        <span class="error" ng-show="myForm.user_birthday.$error.date">
        Not a valid date!</span>
      </span>
      <br />
      <label>Criteria Gender</label>
      <input type='text' ng-model='user_criteria_gender' placeholder="m/f" />
      <br />
      <label>User Email</label>
      <input type="email" name="input" placeholder="example@email.com" ng-model="user_email" required>
      <span role="alert">
        <span class="error" ng-show="myForm.input.$error.required">
        Required!</span>
        <span class="error" ng-show="myForm.input.$error.email">
        Not valid email!</span>
      </span>
      <br />
      <label>Location</label>
      <input type='text' ng-model='user_location' placeholder="Location" />
      <br />
      <section>
        <button type="button" class="btn btn-primary btn-large" data-ng-click="setMyProfile()">Set my profile</button>
        &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="profile_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      </section>
      <span class="my_info">
        {{profileInfo[0].jsonObj}}
      </span> &nbsp;&nbsp;
      <span class="my_info">
        {{setProfileInfo[0].jsonObj}}
      </span>
    </form>
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="getBagels()">Get Bagels</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="bagels_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="!bagels_flag && BagelsInfo">
      <label>current_token </label><span class='my_info'>{{BagelsInfo[0].jsonObj.current_token}}</span>
      <br />
      <label>cursor_after </label><span class='my_info'>{{BagelsInfo[0].jsonObj.cursor_after}}</span>
      <br />
      <label>cursor_before </label><span class='my_info'>{{BagelsInfo[0].jsonObj.cursor_before}}</span>
      <br />
      <label>more_after </label><span class='my_info'>{{BagelsInfo[0].jsonObj.more_after}}</span>
      <br />
      <label>more_before </label><span class='my_info'>{{BagelsInfo[0].jsonObj.more_before}}</span>
      <br />
      <ul>
          <li ng-repeat="bagel in BagelsInfo[0].jsonObj.results">{{bagel.name}}</li>
      </ul>
      <span class="my_info">{{BagelsInfo[0].jsonObj}}</span>
    </section>
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="getBagelsHistory()">Bagels History</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="bagels_history_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="!bagels_history_flag  && BagelsList">
      <span class='my_info'>{{BagelsList}}</span>
    </section>
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="sendBatches()">Send Batches</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="batches_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="!batches_flag && BatchesInfo">
      <label>data </label><span class='my_info'>{{BatchesInfo}}</span>
      <br />
    </section>
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="giveTake()">Give Take</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="give_take_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="girl_id">
      <label> girl id </label><span class='my_info'>{{girl_id}}</span>
    </section>
    <section ng-if="!give_take_flag && GiveTaskResult">
      <span class='my_info'>{{GiveTaskResult}}</span>
    </section>
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="purchase()">Purchase</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="purchase_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>

    <label> Item Count </label>
    <input type='text' ng-model='item_count' placeholder="Item Count" />
    <br />
    <label> Item Name </label>
    <input type='text' ng-model='item_name' placeholder="Item Name" />
    <br />
    <label> Expected Price </label>
    <input type='text' ng-model='expected_price' placeholder="Expected Price" />
    <br />
    <label> Give ten id </label>
    <input type='text' ng-model='give_ten_id' placeholder="Give ten id" />
    <br />

    <section ng-if="!purchase_flag && PurchaseResult">
      <span class='my_info'>{{PurchaseResult}}</span>
    </section>
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="getResources()">Resource</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="get_resources_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section ng-if="!get_resources_flag && ResourceInfo">
      <span class="my_info">{{ResourceInfo}}</span>
    </section>
  </div>
  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="photolabs()">Photo Labs</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="photolabs_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</
    </section>
    <section ng-if="!photolabs_flag && PhotoLabs">  
      <span class='my_info'>{{PhotoLabs}}</span>
    </section>
  </div>

  <div class="general_div completed">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="report()">Report</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="report_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section class='report_section' ng-if="!report_flag && ReportResult">
      <span class='my_info'>{{ReportResult}}</span>
    </section>
  </div>

  <div class="general_div">
    <section>
      <button type="button" class="btn btn-primary btn-large" data-ng-click="photo()">Photo Upload</button>
      &nbsp;&nbsp;&nbsp;&nbsp;<span class='loading-bar' ng-if="photo_flag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </section>
    <section>
      <div>
        <label>My ID</label><span class="my_info">{{$scope.BagelInfo.hex_id}}</span>
        <br />
        <label>Position</label>
        <input type='text' ng-model='photo_position' placeholder="Please input postion of photo" />
        <br />
        <label>Caption</label>
        <input type='text' ng-model='photo_caption' placeholder="This is my 4th photo!" />
        <br />
      </div>
      <div class="button" ngf-select="upload($file)">Upload on file select</div>
    </section>
  </div>

</div>